<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transactions in account.transactions">
            <td>transaction.DateTime</td>
            <td>transaction.Description</td>
            <td>transaction.Amount</td>
            <td>transaction.Account.Balance</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="table-dropdown-{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown button</button>
                <div class="dropdown-menu" aria-labelledby="table-dropdown-{{$index}}">
                  <a class="dropdown-item" href="">Edit</a>
                  <a class="dropdown-item" href="">Delete</a>
                </div>
              </div>
            <td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
