<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
		</div>
	</div>

	<div class = "row">
	<div class = "col-12">
		<h1>Recent Activity</h1>
		<h3>Total Balance: {{totalBalance | currency}}</h3>
		<div class="transactionButton">
        		<button type="button" data-toggle="modal" data-target="#createTransactionModal" class="btn btn-primary float-right"><span class="glyphicon glyphicon-plus"></span> Add Transaction</button>
		</div>
	</div>
	</div>

	<div class = "row">
	<div class="col-12">
		<table class="table">
  		<thead>
    			<tr>
      				<th scope="col">Date</th>
      				<th scope="col">Description</th>
      				<th scope="col">Amount </th>
      				<th scope="col">Account</th>
      				<th scope="col">Account Total</th>
				<th scope="col"></th>
				<th scope="col"></th>
    			</tr>
  		</thead>
  		<tbody> 
			<tr ng-show="!transactions || transactions.length == 0">
				<td class="text-center" colspan="7">No transactions found. <a href="" data-toggle="modal" data-target="#createTransactionModal">Create one here!</a></td>
			</tr>
    			<tr ng-repeat="transaction in transactions | orderBy:'DateTime'">
      				<td>{{transaction.DateTime}}</td>
 	                        <td>{{transaction.Description}}</td>
                                <td class="color-amount-{{transaction.TransactionType}}">{{transaction.Amount | currency}}</td>
      				<td><a href="/#!/account/{{transaction.Account.AccountResourceIdentifier}}">{{transaction.Account.AccountName}}</a></td>
      				<td>{{transaction.AccountBalanceAfter | currency}}</td>
				<td data-toggle="modal" data-target="#editTransactionModal" ng-click="$scope.editingTrans = transaction"> 
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
				</td>
				<td data-toggle="modal" data-target="#deleteTransactionModal" ng-click="$scope.deletingTrans = transaction"> 
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
				</td>
    			</tr>
  		</tbody>
		</table>    
	</div>
	</div>	<!-- end col div -->
	</div> <!-- end row div -->
	</div> <!-- end container div -->
