<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
		</div>
	</div>

	<div class = "row">
	<div class = "col-12">
		<div class="dib">
		<h1>Recent Activity</h1>
		<h3>Total Balance: {{totalBalance | currency}}</h3>

		<div class="transactionButton">
        		<button type="button" data-toggle="modal" data-target="#createTransactionModal" class="btn btn-primary float-right"><span class="glyphicon glyphicon-plus"></span> Add Transaction</button>
		</div>
		</div>
		<div class="projection-div">
			<div ng-show="projection">
				<h3 class="projectionDisp"> {{projection.ProjectedBalance | currency}} </h3>
			</div>
			<div class="form-group projections">
				Project balance on <input type="date" class="form-control projectionInput" ng-model="projectionDate"> 
				<button type="button" class="btn btn-primary editSavings" ng-click="getProjection()"><span class="glyphicon glyphicon-signal"></span></button>
        		</div>
		</div>
	</div>
	</div>

	<div class = "row">
	<div class="col-12">
		<table class="table">
  		<thead>
    			<tr>
      				<th scope="col">Date</th>
      				<th scope="col">Description</th>
      				<th scope="col">Amount </th>
      				<th scope="col">Account</th>
      				<th scope="col">Account Total</th>
				<th scope="col"></th>
				<th scope="col"></th>
    			</tr>
  		</thead>
  		<tbody> 
			<tr ng-show="!transactions || transactions.length == 0">
				<td class="text-center" colspan="7">No transactions found. <a href="" data-toggle="modal" data-target="#createTransactionModal">Create one here!</a></td>
			</tr>
    			<tr ng-repeat="transaction in transactions | orderBy:'DateTime'">
      				<td>{{transaction.DateTime}}</td>
 	                        <td>{{transaction.Description}}</td>
                               <td class="color-amount-{{transaction.TransactionType}}">{{transaction.Amount | currency}}</td>
      				<td><a href="/#!/account/{{transaction.Account.AccountResourceIdentifier}}">{{transaction.Account.AccountName}}</a></td>
      				<td>{{transaction.AccountBalanceAfter | currency}}</td>
				<td data-toggle="modal" data-target="#editTransactionModal" ng-click="$scope.editingTrans = transaction"> 
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
				</td>
				<td data-toggle="modal" data-target="#deleteTransactionModal" ng-click="$scope.deletingTrans = transaction"> 
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
				</td>
    			</tr>
  		</tbody>
		</table>    
	</div>
	<div class="col-6">
	<h3> Budgets </h3>	
	<div class="progress">
  		<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	</div>	

	</div>
	<div class="col-6">
		
	<h3>Savings Plan: {{SavingsPlan.SavingsPlanName}}</h3>

	<div class="progress progress-bar-vertical">
    		<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: {{savingsPercent}}%;">
      			<span class="sr-only">30% Complete</span>
    		</div>
  	</div>

	<div class="form-group">
		<label>Account</label>
		<br/>
              	<select class="form-control mb-3 savingsForm" ng-model="moneyToAddAcc">
                	<option ng-repeat="account in accounts | orderBy:'AccountName'" value="{{account.ResourceIdentifier}}">{{account.AccountName}}</option>
              	</select>

		<input type="number" class="form-control savingsForm"  placeholder="Amount" ng-model="moneyToAdd">
		<button type="button" class="btn btn-primary float-right" ng-click="addMoney()">Add Money</button>
        </div>


	<div class="form-group">
		Saving <input type="number" class="form-control editSavings"  placeholder="SavingsPlan.SavingsPlanName"> For <input type="text" class="form-control editSavings"  placeholder="SavingsPlan.Amount"> By <input type="date" class="form-control editSavings"  placeholder="SavingsPlan.Date"> 
		<button type="button" class="btn btn-primary editSavings"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </div>


	
	</div>
	</div>	<!-- end col div -->
	</div> <!-- end row div -->
	</div> <!-- end container div -->
