<div class="container">
	<div class = "row">
	<div class="col-8">
		<table class="table">
  		<thead>
    			<tr>
      				<th scope="col">Date</th>
      				<th scope="col">Description</th>
      				<th scope="col">Amount (colored)</th>
      				<th scope="col">Account</th>
      				<th scope="col">Account Total</th>
				<th scope="col"></th>
				<th scope="col"></th>
    			</tr>
  		</thead>
  		<tbody ng-repeat="transaction in transactions">
    			<tr>
      				<td>{{transaction.DateTime}}</td>
 	                        <td>{{transaction.Description}}</td>
                                <td>{{transaction.Amount}}</td>
      				<td>{{transaction.account.name}}</td>
      				<td>{{transaction.account.total}}</td>
				<td data-toggle="modal" data-target="#editTransactionModal" ng-click="$scope.editingTrans = transaction"> 
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
				</td>
				<td data-toggle="modal" data-target="#deleteTransactionModal" ng-click="$scope.deletingTrans = transaction"> 
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
				</td>
    			</tr>
  		</tbody>
		</table>    
	</div>
	<div class="col-4 addTransaction" ng-controller="HomeCtrl">
		<form id = "home">
		<fieldset>
		<h4> Create Transaction </h4>
			<div class="form-group">
				<label>Account </label>
				<select class="custom-select custom-select-lg mb-3" ng-model="transactionAccount">
					<option ng-repeat="account in accounts" value="{{account.ResourceIdentifier}}">{{account.AccountName}}</option>
				</select>
			</div>
			
  			<div class="form-group">
    				<label for="transactionName">Description</label>
    				<input type="text" class="form-control" id="name1" aria-describedby="transactionName" placeholder="Description" ng-model="transactionDescription">
  			</div>
			
			<div class="form-group">
    				<label for="transactionCategory">Category</label>
    				<input type="text" class="form-control" id="name1" aria-describedby="transactionCategory" placeholder="Category" ng-model="transactionCategory">
  			</div>

  			<div class="form-group">
				<label for="exampleInputEmail1">Transaction Amount</label>
    				<input type="number" class="form-control" id="name1" aria-describedby="transactionAmount" placeholder="Amount" ng-model="amount">
  			</div>
			<div class="form-group">
				<label> Transaction Type </label>
				<select class="custom-select custom-select-lg mb-3" ng-model=transactionType>
  					<option selected value="Expense">Expense</option>
  					<option value="Income">Income</option>
				</select>
			</div>
			<div class="form-group">
  				<label for="example-date-input">Date</label>
    				<input class="form-control" type="date" id="example-date-input" ng-model=transactionDate>
			</div>
			 <div class="form-check">
  				<input type="checkbox" class="form-check-input" id="customCheck1"  ng-model="recurring">
  				<label class="custom-control-label" for="customCheck1">Recurring Transaction</label>
			</div>
			<div class="form-group">
				<select class="custom-select custom-select-lg mb-3" ng-show="recurring" ng-model="transactionRecurInterval">
					<option value="Daily">Daily</option>
					<option value="Weekly">Weekly</option>
					<option selected value="Monthly">Monthly</option>
				</select>
			</div>

  			<button type="submit" class="btn btn-primary" ng-click="createTransaction()">Submit</button>

	</fieldset>
	</form>
	</div>	<!-- end col div -->
	</div> <!-- end row div -->
	</div> <!-- end container div -->
