<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <base href="/">

    <!-- Load CSS, including Bootstrap -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/resources/css/style.css" />
    
    <!-- Load JavaScript, including AngularJS, jQuery, Bootstrap, Socket.io and Popper -->
    <script type="text/javascript" src="/resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/popper.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular-route.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/script.js"></script>
    
    <title>HebeJebe Finance</title>
  </head>
  <body ng-controller="NavBarCtrl">
  <nav>
  	<a class="navbar-brand" href="#!/">H.J. Finance</a>
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="dropdown">
    		<a class="nav-link dropdown-toggle" href="" id="navbar-account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
			<ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
				<li ng-show="!accounts || accounts.length == 0"><a href="">No accounts to show.</a></li>
				<li><a ng-repeat="account in accounts | orderBy:'AccountName'" href="#!/account/{{account.ResourceIdentifier}}">{{account.AccountName}}</a></li>
				<li role="separator" class="divider"></li>
				<li><a data-toggle="modal" data-target="#createAccountModal" href="">Add Account</a></li>
       		</ul>
        </div>
		<div class="dropdown">
        	<a class="nav-link dropdown-toggle" href="" id="navbar-budgets-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Budgets</a>
        	<ul class="dropdown-menu" aria-labelledby="navbar-budgets-dropdown">
				<li ng-show="!budgets || budgets.length == 0"><a href="">No budgets to show.</a></li>
				<li><a ng-repeat="budget in budgets | orderBy:'Description'" href="/#!/account/{{budget.ResourceIdentifier}}">{{budget.Description}}</a></li>
				<li role="separator" class="divider"></li>
				<li><a data-toggle="modal" data-target="#createBudgetModal" href="">Create Budget</a></li>
       		</ul>
		</div>
       	<a class="nav-link" id="logout-link" href="/logout">Log Out</a>
 	</div>
  </nav>

  <div ng-view=""></div>
  <div ng-controller="ModalController">
    <!-- Create Account Modal --!>
    <div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="createAccountLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createAccountLabel">Create an Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="create-account-name">Account Name</label>
            <input class="form-control" type="text" name="create-account-name" ng-model="createAccountName" placeholder="Account Name" />
            <label for="create-account-balance">Account Balance</label>
            <input class="form-control" type="text" name="create-account-balance" ng-model="createAccountBalance" placeholder="Account Balance" />
            <label for="create-account-type">Account Type</label>
            <select class="form-control custom-select custom-select-lg mb-3" ng-model="createAccountType" name="create-account-type">
              <option value="Savings">Savings</option>
              <option value="Checking">Checking</option>
              <option value="Trust">Trust</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="createAccount()">Create Account</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Transaction Modal -->
    <div class="modal fade" id="createTransactionModal" tabindex="-1" role="dialog" aria-labelledby="createAccountLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTransactionModal">Create a Transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Account </label>
              <select class="form-control custom-select custom-select-lg mb-3" ng-model="transactionAccount">
                <option ng-repeat="account in accounts | orderBy:'AccountName'" value="{{account.ResourceIdentifier}}">{{account.AccountName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="transactionName">Description</label>
              <input type="text" class="form-control" id="name1" aria-describedby="transactionName" placeholder="Description" ng-model="transactionDescription">
            </div>
            <div class="form-group">
              <label for="transactionCategory">Category</label>
              <input type="text" class="form-control" id="name1" aria-describedby="transactionCategory" placeholder="Category" ng-model="transactionCategory">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Transaction Amount</label>
              <input type="number" class="form-control" id="name1" aria-describedby="transactionAmount" placeholder="Amount" ng-model="amount">
            </div>
            <div class="form-group">
              <label> Transaction Type </label>
              <select class="form-control custom-select custom-select-lg mb-3" ng-model=transactionType>
                <option selected value="Expense">Expense</option>
                <option value="Income">Income</option>
              </select>
            </div>
            <div class="form-group">
              <label for="example-date-input">Date</label>
              <input class="form-control" type="date" id="example-date-input" ng-model=transactionDate>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="customCheck1"  ng-model="recurring">
              <label class="custom-control-label" for="customCheck1">Recurring Transaction</label>
            </div>
            <div class="form-group" ng-show="recurring">
              <label class="custom-control-label">Period</label>
              <select class="form-control custom-select custom-select-lg mb-3" ng-model="transactionRecurInterval">
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option selected value="Monthly">Monthly</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="createTransaction()">Create Transaction</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Transaction Modal --!>
    <div class="modal fade" id="editTransactionModal" tabindex="-1" role="dialog" aria-labelledby="editTransctionLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editTransactionLabel">Edit Transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Account </label>
            <select class="form-control custom-select custom-select-lg mb-3" ng-model="editingTrans.Account.AccountResourceIdentifier" ng-options="account.ResourceIdentifier as (account.AccountName) for account in accounts | orderBy:'AccountName'"></select>
            <label for="transactionName">Description</label>
            <input type="text" class="form-control" id="name1" aria-describedby="transactionName" placeholder="Description" ng-model="editingTrans.Description">
            <label for="transactionCategory">Category</label>
            <input type="text" class="form-control" id="name1" aria-describedby="transactionCategory" placeholder="Category" ng-model="editingTrans.Category">
            <label for="exampleInputEmail1">Transaction Amount</label>
            <input type="number" class="form-control" id="name1" aria-describedby="transactionAmount" placeholder="Amount" ng-model="editingTrans.Amount">
            <label> Transaction Type </label>
            <select class="form-control custom-select custom-select-lg mb-3" ng-model="editingTrans.TransactionType">
              <option selected value="Expense">Expense</option>
              <option value="Income">Income</option>
            </select>
            <label for="example-date-input">Date</label>
            <input class="form-control" type="date" id="example-date-input" ng-model="editingTrans.DateTime">
            <input type="checkbox" class="form-check-input" id="customCheck1"  ng-model="editingTrans.Recurring">
            <label class="custom-control-label" for="customCheck1">Recurring Transaction</label>
            <select class="form-control custom-select custom-select-lg mb-3" ng-show="recurring" ng-model="editingTrans.RecurringFrequency">
              <option value="Daily">Daily</option>
              <option value="Weekly">Weekly</option>
              <option selected value="Monthly">Monthly</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="editTransaction()">Edit Transaction</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Transaction Modal --!>
    <div class="modal fade" id="deleteTransactionModal" tabindex="-1" role="dialog" aria-labelledby="deleteTransactionModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <label> Are you sure you want to delete {{deletingTrans.Description}}?</label>
            <div class="float-buttons-right">
              <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary" ng-click="deleteTransaction()">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Subbalance Modal -->
    <div class="modal fade" id="createSubbalanceModal" tabindex="-1" role="dialog" aria-labelledby="createSubbalance" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createSubbalance">Create a Subbalance</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Subbalance Name</label>
            <input class="form-control" type="text" ng-model="createSubbalanceName" placeholder="Subbalance Name" />
            <label>Starting Balance</label>
            <input class="form-control" type="number" ng-model="createSubbalanceBalance" placeholder="Balance" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="createSubbalance()">Create Subbalance</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Subbalance Modal -->
    <div class="modal fade" id="editSubbalanceModal" tabindex="-1" role="dialog" aria-labelledby="editSubbalance" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editSubbalance">Edit Subbalance: {{subbalance.SubBalanceName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Subbalance Name</label>
            <input class="form-control" type="text" ng-model="subbalance.SubBalanceName" placeholder="Subbalance Name" />
            <label>Balance</label>
            <input class="form-control" type="number" ng-model="subbalance.Balance" placeholder="Balance" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="editSubbalance()">Edit Subbalance</button>
          </div>
        </div>
      </div>
    </div>
    <!-- View Subbalance Modal -->
    <div class="modal fade" id="viewSubbalanceModal" tabindex="-1" role="dialog" aria-labelledby="viewSubbalanceLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewSubbalanceLabel">Subbalance: {{subbalance.SubBalanceName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="account-info">
              <p><strong>Subbalance Name:</strong> {{subbalance.SubBalanceName}}</p>
              <p><strong>Current Balance:</strong> {{subbalance.Balance | currency}}</p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th><span class="glyphicon glyphicon-pencil"></span></th>
                  <th><span class="glyphicon glyphicon-trash"></span></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="!subbalance.transactions || subbalance.transactions.length == 0">
                  <td colspan="6" class="text-center">There are no transactions to show. <a href="" data-toggle="modal" data-target="#createTransactionModal">Create one here!</a></td>
                </tr>
                <tr ng-repeat="transaction in subbalance.transactions | orderBy:'-DateTime'">
                  <td>{{transaction.DateTimeString}}</td>
                  <td>{{transaction.Description}}</td>
                  <td class="color-amount-{{transaction.TransactionType}}">{{transaction.Amount | currency}}</td>
                  <td>{{transaction.SubBalance.SubBalanceBalance | currency}}</td>
                  <td><a data-toggle="modal" data-target="#editTransactionModal" ng-click="editTransaction()"><span class="glyphicon glyphicon-pencil"></span></a></td>
                  <td><a data-toggle="modal" data-target="#deleteTransactionModal" ng-click="deleteTransaction()"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
              </tbody>
            </table>
            <br/><br/>
            <div id="subbalance-edit-buttons">
              <button type="button"ng-click="editSubbalanceLoad()" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> Edit Subbalance
              </button>
              <button type="button" ng-click="deleteSubbalanceLoad()" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Delete Subbalance
              </button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Subbalance Modal --!>
    <div class="modal fade" id="deleteSubbalanceModal" tabindex="-1" role="dialog" aria-labelledby="deleteSubbalanceModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <label> Are you sure you want to delete {{subbalance.Description}}?</label>
            <div class="float-buttons-right">
              <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary" ng-click="deleteSubbalance()">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Budget Modal -->
    <div class="modal fade" id="createBudgetModal" tabindex="-1" role="dialog" aria-labelledby="createBudgetLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createBudgetLabel">Create a Budget</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="create-budget-description">Description</label>
            <input class="form-control" type="text" name="create-budget-name" ng-model="createBudgetDescription" placeholder="Budget Description" />
            <label for="create-budget-balance">Budget Limit</label>
            <input class="form-control" type="number" name="create-budget-limit" ng-model="createBudgetLimit" placeholder="Budget Limit" />
            <div class="inline1">
              <label for="create-budget-date">Duration</label>
              <input class="form-control" type="number" name="create-budget-duration" ng-model="createBudgetDuration" placeholder="Budget Duration" /> 
            </div>
            <div class="inline2">
              <label>&nbsp; days</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="createBudget()">Create Budget</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
  
