<!DOCTYPE html>
<html ng-app="MyApp">
  <head>

    <base href="/">

    <!-- Load CSS, including Bootstrap -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/resources/css/style.css" />
    
    <!-- Load JavaScript, including AngularJS, jQuery, Bootstrap, Socket.io and Popper -->
    <script type="text/javascript" src="/resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/popper.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular-route.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/script.js"></script>
    
    <title>HebeJebe Finance</title>
  </head>
  <body ng-controller="NavBarCtrl">
  <nav>
  	<a class="navbar-brand" href="">H.J. Finance</a>
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="dropdown">
    		<a class="nav-link dropdown-toggle" href="" id="navbar-account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
			<ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
				<li><a ng-repeat="account in accounts" href="#!/account/{{account.ResourceIdentifier}}">{{account.AccountName}}</a></li>
				<li role="separator" class="divider"></li>
				<li><a data-toggle="modal" data-target="#createAccountModal" href="">Add Account</a></li>
       		</ul>
        </div>
		<div class="dropdown">
        	<a class="nav-link dropdown-toggle" href="" id="navbar-budgets-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Budgets</a>
        	<ul class="dropdown-menu" aria-labelledby="navbar-budgets-dropdown">
				<li><a ng-repeat="budget in budgets" href="/#!/account/{{budget.ResourceIdentifier}}">{{budget.BudgetName}}</a></li>
				<li role="separator" class="divider"></li>
				<li><a data-toggle="modal" data-target="#createBudgetModal" href="">Create Budget</a></li>
       		</ul>
		</div>
       	<a class="nav-link" id="logout-link" href="/logout">Log Out</a>
 	</div>
  </nav>

  <div ng-view=""></div>
</body>
</html>
  
