<!DOCTYPE html>
<html ng-app="MyApp">
  <head>

    <base href="/">

    <!-- Load CSS, including Bootstrap -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-grid.min.css" />
<!--    <link rel="stylesheet" href="/resources/css/bootstrap-reboot.min.css" />-->
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/resources/css/style.css" />
    
    <!-- Load JavaScript, including AngularJS, jQuery, Bootstrap, Socket.io and Popper -->
    <script type="text/javascript" src="/resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/popper.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular-route.js"></script>
<!--    <script type="text/javascript" src="/resources/js/bootstrap.bundle.min.js"></script>-->
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/script.js"></script>
    
    <title>HebeJebe Finance</title>
  </head>
  <body ng-controller="NavBarCtrl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<a class="navbar-brand" href="">H.J. Finance</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			Accounts
        			</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" ng-repeat="account in accounts" value="{{account.ResourceIdentifier}}">{{account.AccountName}}</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" data-toggle="modal" data-target="#createAccountModal" href="">Add Account</a>
        			</div>
	
			</li>
			<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			Budgets
        			</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" ng-repeat="budget in budgets" value="{{budget.ResourceIdentifier}}">{{budget.BudgetName}}</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" data-toggle="modal" data-target="#createBudgetModal" href="">Create Budget</a>
        			</div>
	
			</li>

		</ul>
		<ul>
				<li class="form-inline my-2 my-lg-0 float-right">
        				<a class="nav-link" href="/logout">Log Out</a>
      				</li>
    		</ul>
  	</div>
	</nav>

	<div ng-view=""></div>
</body>
</html>
  
