<!DOCTYPE html>
<html>
  <head>
    <!-- Load CSS, including Bootstrap -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/resources/css/style.css" />
    
    <!-- Load JavaScript, including AngularJS, jQuery, Bootstrap, Socket.io and Popper -->
    <script type="text/javascript" src="/resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/popper.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/script.js"></script>
    
    <title>HebeJebe Finance</title>
  </head>
  <body ng-app="MyApp">
  <div class="container">
	<div class = "row">
	<div class="col-8" ng-controller="PostsCtrl">	
		<table class="table">
  		<thead>
    			<tr>
      				<th scope="col">Date</th>
      				<th scope="col">Transaction name</th>
      				<th scope="col">Amount (colored)</th>
      				<th scope="col">Account</th>
      				<th scope="col">Account Total</th>
				<th scope="col">Action Button</th>
    			</tr>
  		</thead>
  		<tbody ng-repeat="transaction in transactions">
    			<tr>
      				<td>{{transaction.DateTime}}</td>
				<td>{{transaction.ResourceIdentifier}}</td>
				<td>{{transaction.Amount}}</td>
      				<td>{{transaction.account.name}}</td>
      				<td>{{transaction.account.total}}</td>
				<td>ACTION</td>
    			</tr>
  		</tbody>
		</table>    
	</div>
	<div class="col-4" ng-controller="NewPanel">
		<button type="button" class="btn btn-primary">Add Account</button>
		</br>
		<button type="button" class="btn btn-primary">Budgets</button>
		</br>
		<label> Create Transaction </label>
		<form>
  			<div class="form-group">
				<div class="dropdown">
  				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    					Account	
  				</button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    					<a class="dropdown-item" href="#">Account1</a>
    					<a class="dropdown-item" href="#">Account2</a>

  				</div>
				</div>
			</div>	
  			<div class="form-group">
    				<label for="transactionName">Transaction Name</label>
    				<input type="text" class="form-control" id="name1" aria-describedby="transactionName" placeholder="Name">
  			</div>
  			<div class="form-group">
				<label for="exampleInputEmail1">Transaction Amount</label>
    				<input type="text" class="form-control" id="name1" aria-describedby="transactionAmount" placeholder="Amount" ng-model="$scope.amount">
  			</div>
			<div class="form-group">
				<div class="dropdown">
  				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    					label what is selected
  				</button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    					<button type="button" class="dropdown-item" ng-click="setTransactionType(Expense)">Expense</button>
    					<button type="button" class="dropdown-item" ng-click="setTransactionType(Income)">Income</button>
  				</div>
				 </div>	
			</div>
			 <div class="form-check">
  				<input type="checkbox" class="form-check-input" id="customCheck1"  ng-model="recurring">
  				<label class="custom-control-label" for="customCheck1">Recurring Expense</label>
			</div>
			<div class="form-group" >
				<div class="dropdown" ng-show="recurring">
  				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    					Recurring Period	
  				</button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
    					<a class="dropdown-item" href="#">Daily</a>
    					<a class="dropdown-item" href="#">Weekly</a>
    					<a class="dropdown-item" href="#">Monthly</a>
  				</div>
				 </div>	
			</div>

  			<button type="submit" class="btn btn-primary" ng-click="createTransaction()">Submit</button>
		</form>
	</div>	<!-- end col div --!>
	</div> <!-- end row div --!>
	</div> <!-- end container div --!>
  </body>
</html>
