<!DOCTYPE html>
<html>
  <head>

    <base href="/">

    <!-- Load CSS, including Bootstrap -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/resources/css/style.css" />
    
    <!-- Load JavaScript, including AngularJS, jQuery, Bootstrap, Socket.io and Popper -->
    <script type="text/javascript" src="/resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/popper.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/resources/js/angular-route.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/script.js"></script>
    
    <title>HebeJebe Finance</title>
  </head>
 
<!-- multistep form -->
<form id="msform" ng-controller="SignupCtrl">
  <!-- fieldsets -->
  <fieldset ng-show="page1">
    <h2 class="fs-title">Create your account</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <input type="text" name="firstName" placeholder="First Name" ng-model="$scope.firstName"/>
    <input type="text" name="lastName" placeholder="Last Name" ng-model="$scope.lastName"/>
    <input type="text" name="email" placeholder="Email" ng-model="$scope.email"/>
    <input type="password" name="pass" placeholder="Password" ng-model="$scope.pw"/>
    <input type="password" name="cpass" placeholder="Confirm Password" ng-model="$scope.pwConf"/>
    <input type="button" name="next" class="next action-button" value="Next" ng-click="nextOne()"/>
  </fieldset>
  <fieldset ng-show="page2">
    <h2 class="fs-title">Account Info</h2>
    <h3 class="fs-subtitle">Connect a Bank Account</h3>
    <input type="text" name="accountName" placeholder="Account Name" ng-model="$scope.accountName"/>
    <input type="number" step="0.01" name="accountAmount" placeholder="Account Amount" ng-moel="$scope.accountAmnt"/>
    <select class="custom-select" id="accountType" ng-model="accountType">
    	<option selected value="Checking">Checking</option>
    	<option value="Savings">Savings</option>
    	<option value="Trust">Trust</option>
    </select>
    <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="prevTwo()"/>
    <input type="button" name="submit" class="next action-button" value="Submit" ng-click="submit()"/>
  </fieldset>
</form>
</body>
</html>
