@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.col-4 * {
  margin-bottom: 8px;
}

.row {
  margin-top: 16px;
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
	height: 100%;
	/*Image only BG fallback*/
}

body {
	font-family: montserrat, arial, verdana;
	background: #f1f7ee
}

nav {
  height: 52px;
  background-color: #67ba5d;
  border-radius: 0;
}

.savingsForm{
	width: 36%;
	margin-right: 0;
	display: inline-block;
}

.editSavings{
	width: 18%;
	display: inline-block;
}


.projections{
	float:right;
	display:inline;
}

.projectionInput{
	width:40%;
	display:inline;
}

.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}


.transactionButton {
	display: inline-block;
	float: left;
}

.dropdown {
  display: inline-block;
}

.nav-link {
  padding: 16px;
  color: #333;
  position: relative;
  display: inline-block;
}

.modal-header h4, .modal-header h5 {
  display: inline-block;
  width: auto;
  font-size: 24px;
}

.account-info {
  font-size: 20px;
  padding: 12px;
}

.float-buttons-right {
  display: inline-block;
  float: right;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  text-decoration: underline;
  background-color: #b0bea9;
  color: #000;
}

.navbar-brand {
  color: #333;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
  color: #000;
}

#logout-link {
  float: right;
}

.btn-primary:hover{
	background: #b0bea9;
	border: #b0bea9;
}

.btn-primary{
	background: #67ba5d;
	border: #67ba5d;
}

#subbalance-edit-buttons {
  text-align: center;
}

.form-check{
	margin: 0 10%;
	padding-left: 10px;
}

h1 {
  width: auto;
}

.dib {
  display: inline-block;
}

.color-amount-Income {
  color: #068419;
}

.color-amount-Expense {
  color: #b50e0e;
}

.color-amount-Transfer {
  color: #0d72a5;
}

.panel-title > a:before {
  padding: .75rem 1.25rem;
  float: right !important;
  font-family: FontAwesome;
  content: "\f068";
  padding: 12px;
}

.panel-title > a.collapsed:before {
  float: right !important;
  content: "\f067";
}

.card-header {
  background-color: #e8e8e8;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

.card-header:hover {
  background-color: #ccc;
}

.card-header a:hover, .card-header a:active, .card-header a:focus {
  text-decoration: none;
}

.collapsed .row {
  margin: 0;
}

.card {
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,.25);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08), 0, 1px 5px 0 rgba(0,0,0,0.06) !important;
  margin: 12px;
}

.card-header .row {
  padding: 12px;
  margin: 0;
}

.panel-title {
  font-size: 24px;
}

#select-account {
  margin: 24px 0 0 0;
  float: right;
}

#home fieldset{
	background: white;
	border: 1px solid #aaa;
	border-radius: 16px;
	padding: 10px 20px;
	box-sizing: border-box;
	/*width: 70%;*/
	margin: 0 10%;
	/*box-shadow: 10px 10px 15px #aaaaaa;*/
	/*stacking fieldsets above each other*/
	position: relative;
}

/*form styles*/
#msform {
	width: 800px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 1px solid #aaa;
	border-radius: 16px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	box-shadow: 10px 10px 15px #aaaaaa;
	/*stacking fieldsets above each other*/
	position: relative;
}

/*inputs*/
#msform input, #msform textarea, #msform select{
	padding: 15px;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin-bottom: 8px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

.inline1 {
	display: inline-block;
	width: 80%;
	padding: 0px;
	margin: 0px;
}

.inline2 {
	display: inline-block;
	width: 18%;
	margin: 0px;
	position: absolute;
	text-align: left;
	padding-left: 3px;
	bottom: 22px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.custom-select{
	width: 100%;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

